In [8]:
# import necessary libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline 
pd.set_option('display.max_columns', None)

In [9]:
# load dataset
energy_df = pd.read_csv(r'C:\Users\OJO Timilehin\Downloads\energydata_complete.csv')
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12
- From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [15]:
X = energy_df[['T2']] 
y = energy_df['T6']

In [16]:
from sklearn.linear_model import LinearRegression 
lin_reg = LinearRegression()

lin_reg.fit(X, y)

LinearRegression()

In [ ]:
from sklearn.metrics import r2_score 

r2_score()

### Question 13
- Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

- What is the Mean Absolute Error (in two decimal places)?

In [35]:
energy_df = energy_df.drop(['date', 'lights'], axis=1)

In [38]:
# MinMaxScaler 
from sklearn.preprocessing import MinMaxScaler 

mm_scaler = MinMaxScaler() 

mm_energy_df = mm_scaler.fit_transform(energy_df)

In [39]:
norm_df = pd.DataFrame(mm_energy_df, columns=energy_df.columns)

In [40]:
X = norm_df.drop('Appliances', axis=1)
y = norm_df['Appliances']

In [41]:
# train_test_split
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, random_state=42)

In [42]:
# Linear regression 
from sklearn.linear_model import LinearRegression 

lin_reg = LinearRegression()

lin_reg.fit(X_train, y_train)

LinearRegression()

In [43]:
y_pred = lin_reg.predict(X_test)

In [44]:
from sklearn.metrics import mean_absolute_error 

round(mean_absolute_error(y_pred, y_test), 2)

0.05

### Question 14
- What is the Residual Sum of Squares (in two decimal places)?

In [78]:
from sklearn.metrics import mean_squared_error 

round(mean_squared_error(y_test, y_pred),2 )

0.01

### Question 15
- What is the Root Mean Squared Error (in three decimal places)?

In [50]:
from sklearn.metrics import mean_squared_error 

round(np.sqrt(mean_squared_error(y_test, y_pred)), 3)

0.088

### Question 16
- What is the Coefficient of Determination (in two decimal places)?

In [75]:
from sklearn.metrics import r2_score 

round(r2_score(y_test, y_pred),2)

0.15

### Question 17
- Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [53]:
lin_reg.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [56]:
feature_weights = pd.Series(lin_reg.coef_)

In [59]:
feature_weights.index = X_train.columns

In [61]:
feature_weights.sort_values(ascending = False)

RH_1           0.553547
T3             0.290627
T6             0.236425
Tdewpoint      0.117758
T8             0.101995
RH_3           0.096048
RH_6           0.038049
Windspeed      0.029183
T4             0.028981
RH_4           0.026386
RH_5           0.016006
Visibility     0.012307
T7             0.010319
Press_mm_hg    0.006839
rv2            0.000770
rv1            0.000770
T1            -0.003281
T5            -0.015657
RH_9          -0.039800
RH_7          -0.044614
RH_out        -0.077671
RH_8          -0.157595
T9            -0.189941
T2            -0.236178
T_out         -0.321860
RH_2          -0.456698
dtype: float64

### Question 18
- Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [66]:
from sklearn.linear_model import Ridge 

ridge_reg = Ridge(alpha=0.4) 

ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [67]:
y_pred_ridge = ridge_reg.predict(X_test)

In [68]:
round(np.sqrt(mean_squared_error(y_test, y_pred_ridge)), 3)

0.088

### Question 19
- Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [69]:
from sklearn.linear_model import Lasso 

lasso_reg = Lasso(alpha=0.001) 

lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [70]:
y_pred_lasso = lasso_reg.predict(X_test)

In [71]:
feature_weights = pd.Series(lasso_reg.coef_)

In [72]:
feature_weights.index = X_train.columns

In [73]:
feature_weights.sort_values(ascending = False)

RH_1           0.017880
Windspeed      0.002912
T1             0.000000
T7            -0.000000
rv1           -0.000000
Tdewpoint      0.000000
Visibility     0.000000
Press_mm_hg   -0.000000
T_out          0.000000
RH_9          -0.000000
T9            -0.000000
T8             0.000000
RH_7          -0.000000
RH_6          -0.000000
T6             0.000000
RH_5           0.000000
T5            -0.000000
RH_4           0.000000
T4            -0.000000
RH_3           0.000000
T3             0.000000
RH_2          -0.000000
T2             0.000000
rv2           -0.000000
RH_8          -0.000110
RH_out        -0.049557
dtype: float64

### Question 20
- What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [74]:
round(np.sqrt(mean_squared_error(y_test, y_pred_lasso)), 3)

0.094